@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Ubuntu+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html, body {
  height: 100%
}

.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(18, 34, 70);
}


/* Helper classes */
.white {
  color: white;
}

.bold {
  font-weight: bold;
}

#title {
  font-size: 32px;
  font-family: 'Ubuntu Mono', monospace;
}

#instruction {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(27, 51, 105);
}

#gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoreboard {
  display: inline-block;
  margin: 30px auto;
  color: rgb(0, 0, 0, 70%);
  text-align: center;
}

#scoreboard > span {
  margin: 0 10px;
}